@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    color: #00B5B5;
    font-family: 'Anonymous Pro', monospace;
}

td {
    padding: 20px;
    border: 1px solid #ccc;
}

th {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(54, 57, 63);
}

.pagination {
    background-color: rgb(54, 57, 63);
}